//// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//
//// Colors
//@import "colors";

label {
    font-weight: bold;
}

.select2-container--bootstrap4 .select2-selection--multiple {
    min-height: auto;
    padding: .5em 1em 1em 1em;
}

 div.dataTables_wrapper div.dataTables_info {
     padding: 1em;
 }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0 1em 1em;
    padding: inherit;
    white-space: nowrap;
    justify-content: flex-end;
}

form fieldset .error {
    margin: .25em 0;
    font-size: smaller;
    color: red;
}
